<div class="">

    <app-navbar [isNavCollapsed]="collapsedNav" (collapseChange)="updateCollapse($event)" />
    <div [ngClass]="'container-fluid p-5 app-content'+ (collapsedNav ? ' w-100 mx-0' : '')">
        <h1><b>Gestión de paquetes</b></h1>
        <br>
        <form (keydown.enter)="$event.preventDefault()" [formGroup]="formPaquetes"
        (ngSubmit)="onSubmitFormPaquetes($event)">
            <div class="card my-3 p-3" style="background-color: #f9f9f9; border-color: #ffffff;">

                <div class="row">
                    <div class="col-lg-2 mb-4">
    
                        <app-kaze-form-input label="Código interno" formControlName="id"/>
    
                    </div>
                    <div class="col-lg-3 mb-4">
    
                        <!-- <app-kaze-form-select label="Vendedor" [options]="vendedoresOptions" formControlName="idvendedor" /> -->
                        <div class="kaze-form-control active">
                            <select name="" id=""  formControlName="idvendedor" >
                                <option value="">Seleccionar vendedor</option>
                                <ng-container *ngFor="let item of vendedoresOptions">
                                    <option [value]="item.value">
                                        {{ item.text }}
                                    </option>
                                </ng-container>
                            </select>
                            <label for="">
                                Vendedor
                            </label>
                        </div>

                    </div>
                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input label="Razón social" formControlName="razonsocial" />
                    </div>
                    
                    <div class="col-lg-4 mb-4">
                        <div class="row">
                            <div class="col-8">
                                <app-kaze-form-input label="Organización (JD)" formControlName="nombreorganizacion" [readonly]="true" />
                                <input type="hidden" formControlName="idorganizacion" [readOnly]="true">
                            </div>
                            <!-- <br> -->
                            <div class="col-4">
                                <button type="button" class="kaze-btn kaze-btn-warning" (click)="mostrarModalOrganizaciones = true">
                                    <fa-icon [icon]="faSearch" />
                                </button>
                            </div>
                        </div>
                        
                        </div>
                        
                        <div class="col-lg-6 mb-4">
                            <div class="row">
                                <div class="col-8"> <app-kaze-form-input label="Maquinaria" formControlName="nombremaquina" [readonly]="true" />
                                <input type="hidden" formControlName="idmaquina" [readOnly]="true">
                                <input type="hidden" formControlName="pin" [readOnly]="true">

                                </div>
                                <div class="col-4">
                        
                                    <button type="button" class="kaze-btn kaze-btn-warning" (click)="formPaquetes.value.idorganizacion != '' ? mostrarModalMaquinarias = true : snackbarService.mostrarMensaje('Debe seleccionar primero una organización',1000)">
                                        <fa-icon [icon]="faSearch" />
                                    </button>
                                </div>
                            </div>
                        </div>
    
                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input type="date" [focusedParam]="true" label="Fecha de inicio" formControlName="fechadesde"/>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input type="date" [focusedParam]="true" label="Fecha de facturación" formControlName="fechafacturacion"/>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input type="date" [focusedParam]="true" label="Fecha de finalización" formControlName="fechahasta"/>
                    </div>
                    
                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input type="number" label="Horas" formControlName="horas"/>
                    </div>

                    <div class="col-lg-3 mb-4">
                        <app-kaze-form-input type="number" label="Horas consumidas" [readonly]="true" formControlName="horasconsumidas"/>
                    </div>

                    <div class="col-lg-3 mb-4">
                        <!-- <app-kaze-form-select label="Zona de monitoreo" [options]="zonasMonitoreo" formControlName="zonamonitoreo"/> -->
                        <div class="kaze-form-control active">
                            <select name="" id=""  formControlName="zonamonitoreo" >
                                <option value="">Seleccionar zona</option>
                                <ng-container *ngFor="let item of zonasMonitoreo">
                                    <option [value]="item.value">
                                        {{ item.text }}
                                    </option>
                                </ng-container>
                            </select>
                            <label for="">
                                Zona de monitoreo
                            </label>
                        </div>
                    </div>
                    
                </div>
                <legend>
                    Condición de paquete
                </legend>
                <br>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <app-kaze-form-input type="file" formControlName="archivocontrato" label="Archivo de contrato" [focusedParam]="true" (change)="onFileChanged($event, 'archivocontrato',0)"/>
                        <div *ngIf="linkDescargaContrato != ''">
                            <a [href]="raizDocumentos+'/'+linkDescargaContrato" target="_blank">Descargar contrato</a>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <app-kaze-form-input type="file" formControlName="archivoorden" label="Archivo de COR" [focusedParam]="true" (change)="onFileChanged($event, 'archivoorden',1)"/>
                        <div *ngIf="linkDescargaCOR != ''">
                            <a [href]="raizDocumentos+'/'+linkDescargaCOR" target="_blank">Descargar COR</a>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <app-kaze-form-input type="file" formControlName="archivofactura" label="Archivo de factura" [focusedParam]="true" (change)="onFileChanged($event, 'archivofactura',1)"/>
                        <div *ngIf="linkDescargaFactura != ''">
                            <a [href]="raizDocumentos+'/'+linkDescargaFactura" target="_blank">Descargar factura</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 mb-4">
                        <div [class]="'alert '+classPaqueteSeleccionado+' text-white'">
                            <p>
                                {{ estadoPaqueteSeleccionado }}
                            </p>
                        </div>
                    </div> -->
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-8">
                        <p>
                            <b>Contactos</b>
                        </p>
                        <br>
                        <button type="button" class="kaze-btn kaze-btn-success" (click)="agregarContacto()">
                            <fa-icon [icon]="faPlus"></fa-icon> Agregar
                        </button>
                        <br><br>
                                
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Referencia</th>
                                <th>¿Predeterminado?</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of contactosPaquete; index as i">
                                <td>
                                    <app-kaze-form-input label="Nombre" [value]="item.nombre" (kazeOnChange)="updateNombreContacto($event,i)"/>
                                </td>
                                <td>
                                    <app-kaze-form-input label="Teléfono" [value]="item.telefono" (kazeOnChange)="updateTelefonoContacto($event,i)"/>
                                </td>
                                <td>
                                    <app-kaze-form-input label="Referencia" [value]="item.referencia" (kazeOnChange)="updateReferenciaContacto($event,i)"/>
                                </td>
                                
                                <td>
                                    <app-kaze-form-input label="Hora inicio avisos" [value]="item.horainicioavisos" detail="Formato HH:mm" (kazeOnChange)="updateHoraInicioContacto($event,i)"/>
                                </td>
                                
                                <td>
                                    <app-kaze-form-input label="Hora fin avisos" [value]="item.horafinavisos" detail="Formato HH:mm" (kazeOnChange)="updateHoraFinContacto($event,i)"/>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <button type="button" [class]="'kaze-btn kaze-btn-' + (item.predeterminado == 1 ? 'success' : 'secondary')" (click)="marcar_predeterminado(i)">
                                            O
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <button class="kaze-btn kaze-btn-danger" (click)="eliminarContacto(i)">
                                        <fa-icon [icon]="faClose"/>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        <div class="px-2 d-inline">
            <button class="kaze-btn kaze-btn-primary" (click)="onSubmitFormPaquetes($event)">
                <fa-icon [icon]="formPaquetes.value.id == '' ? faPlus : faEdit"/>
                <div class="d-inline">
                    {{ formPaquetes.value.id == '' ? 'Dar de alta' : 'Modificar' }}
                </div>
            </button>
        </div>
        <div class="px-2 d-inline">
            <button class="kaze-btn kaze-btn-info" (click)="limpiarFormulario()">
                <fa-icon [icon]="faBroom"/>
                Limpiar
            </button>    
        </div>
        <br>
        <div class="row">

        </div>
        <hr>

        <h3>
            Lista de paquetes
        </h3>
        <br>
        <form [formGroup]="formularioBusqueda" (keydown.enter)="pagina_actual = 0">
            <div class="row">
                <div class="col-lg-3">
                    <div class="kaze-form-control active">
                        <select name="" id=""  formControlName="crit" >
                            <option value="">Seleccionar criterio</option>
                            <ng-container *ngFor="let item of criteriosPaquetes">
                                <option [value]="item.value">
                                    {{ item.text }}
                                </option>
                            </ng-container>
                        </select>
                        <label for="">
                            Criterio
                        </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="kaze-form-control active">
                        <select name="" id=""  formControlName="mode" >
                            <option value="">Seleccionar modo</option>
                            <ng-container *ngFor="let item of modosPaquetes">
                                <option [value]="item.value">
                                    {{ item.text }}
                                </option>
                            </ng-container>
                        </select>
                        <label for="">
                            Modo de búsqueda
                        </label>
                    </div>
                </div>
                <div class="col-lg-5">
                    <app-kaze-form-input label="Campo de búsqueda" formControlName="search"/>
                </div>
 
            </div>
            
            <div style="text-align: center; " class="mt-3">
    
                <ul class="kaze-pagination" style="display: flex; justify-content: center;">
                    <li *ngFor="let e of ['<<', '<', cargandoPaquetes ? '...' : (pagina_actual+1) + '/' + cantidad_paginas, '>', '>>']; let index = index"
                        (click)="pageHandler(e)">
                        <b>{{ e }}</b>
                    </li>
                </ul>
            </div>

            <button class="kaze-btn kaze-btn-warning" (click)="pagina_actual = 0; obtenerListaPaquetes()">
                <fa-icon [icon]="faFilter" /> Buscar
            </button>
            <hr>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let item of criteriosPaquetes">
                            {{item.text.toUpperCase()}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="cursor: pointer;" *ngFor="let item of resultados_paquetes; index as i" (click)="editar(i)">
                        <td *ngFor="let itemr of Object.values(item)">
                            <ng-container *ngIf="!isObject(itemr)">
                                {{itemr}}
                            </ng-container>
                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<app-modal [showModal]="mostrarModalMaquinarias" (modalChange)="modalMaquinariasChange($event)" title="Ingresar PIN de maquinaria">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [data]="dataMaq" [searchKeyword]="keyword" placeholder="Ingresar PIN"
            (selected)='selectMaquinariaEvent($event)' (inputChanged)='onMaquinariaChangeSearch($event)' (inputFocused)='onMaquinariaFocused($event)'
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="'Sin resultados'"></div>
        </ng-template>
    </div>

</app-modal>


<app-modal [showModal]="mostrarModalOrganizaciones" (modalChange)="modalOrganizacionesChange($event)" title="Ingresar organización">

    <div class="ng-autocomplete" style="width: 100%;">
        <ng-autocomplete [data]="dataOrg" [searchKeyword]="keywordOrganizaciones" placeholder="Ingresar nombre"
            (selected)='selectOrganizacionEvent($event)' (inputChanged)='onOrganizacionChangeSearch($event)' (inputFocused)='onOrganizacionFocused($event)'
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="'Sin resultados'"></div>
        </ng-template>
    </div>

</app-modal>