.kaze-cloudy-background {
    position: absolute;
    width: calc(100% - 280px);
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    filter: blur(20px);
    z-index: -1;
}

.kaze-cloudy-background::before {
    content: '';
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
}