<div class="container">
    <div class="py-lg-5 p-3 px-lg-0 ">
        <div class="row " style="min-height: 85vh;">
            <div style="background-color: rgb(73, 73, 73); border-top-left-radius: 10px; border-bottom-left-radius: 10px;" class="col-lg-4 p-4 mb-3">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-lg-12">
                        <div style="text-align: center; vertical-align: middle;color: white;" class="my-auto">
                            <img src="assets/img/logoopc.png" style="width: 80%; border-radius: 20px;" alt="">
                            <br>
                            <br>
                            <h1 >Agronorte</h1>
                            <br >
                            <p>Portal del Centro de Soporte</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background-color: #367c2b; border-top-right-radius: 10px; border-bottom-right-radius: 10px;" class="col-lg-8 p-4 mb-3">
                
                <div class="row justify-content-center align-items-center" style="height: 100%;">
                    <div [ngClass]="'col-lg-'+(mostrarIngreso ? '6' : '8')">
                        <div class="card p-5" style="background-color: rgb(230, 230, 230);">
                            
                            <div *ngIf="verificando" class="kaze-loader">
                                
                            </div>

                            <form (keydown.enter)="$event.preventDefault()" *ngIf='mostrarIngreso && !verificando' [formGroup]="login_form" (ngSubmit)="onSubmit($event)">
                                <h3>
                                    <b>Ingreso</b>
                                </h3>
                                <hr>    
                                <app-kaze-form-input (kazeOnChange)="onFormChange" label="Email" type="email" formControlName="email" name="email" formid="auth"/>
                                
                                <div class="my-4"></div>
                                
                                <app-kaze-form-input (kazeOnChange)="onFormChange" label="Contraseña" type="password" formControlName="pass" name="pass" formid="auth"/>

                                <br>
                                
                                <button class="kaze-btn kaze-btn-success w-100" type="submit">
                                    Ingresar
                                </button>
                                <button class="d-none kaze-btn kaze-btn-warning w-100 mt-3" type="button" (click)="toggleIngreso()">
                                    Solicitar acceso
                                </button>
                            <br>
                            <br>
                            <div style="text-align: center;">
                                <a href="#" (click)="recuperarPass()">Olvidé mi contraseña</a>
                            </div>
                            </form>

                            <form (keydown.enter)="$event.preventDefault()" *ngIf='!mostrarIngreso && !mostrarCodeSection && !enviando_email && !verificando' [formGroup]="register_form" (ngSubmit)="onRegisterSubmit($event)">
                                <h3>
                                    <b>Solicitar acceso</b>
                                </h3>
                                <hr>    
                                <app-kaze-form-input (kazeOnChange)="onFormChange" label="Apellido y Nombre" type="text" formControlName="nombre" name="nombre" formid="register"/>
                                
                                <div class="my-4"></div>
                                
                                <app-kaze-form-input label="Email de acceso" type="email" formControlName="email" name="email" formid="register"/>
                                <div class="my-4"></div>
                                
                                <app-kaze-form-input (kazeOnChange)="onRegisterFormChange" label="Ingresar CUIT a representar"  formControlName="cuit"  type="number" name="cuit" formid="register" detail="Sin guiones"/>
                                <div style="text-align: center;" class="mt-3">
                                    <button type="button" class="kaze-btn kaze-btn-warning" (click)="agregarCuitRepresentar()">
                                        Agregar CUIT
                                    </button>
                                </div>
                                <table class="table mt-3">
                                    <thead>
                                        <tr>
                                            <th>CUIT</th>
                                            <th>Razón social</th>
    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                <tr *ngFor="let item of lista_representados; index as i">
                                   <td>{{item.cuit}} </td> 
                                   <td>{{item.nombre}} </td> 

                                </tr>
                                    </tbody>
                                </table>
                                <br>
                                
                                <button class="kaze-btn kaze-btn-success w-100" type="submit">
                                    Solicitar acceso
                                </button>
                                <button class="kaze-btn kaze-btn-warning w-100 mt-3" type="button" (click)="toggleIngreso()">
                                    Ingreso con credenciales
                                </button>
                                
                            <div style="text-align: center;">
                                <a href="#" (click)="recuperarPass()">Olvidé mi contraseña</a>
                            </div>
                            </form>

                            <div *ngIf="enviando_email" style="text-align: center;">
                                <h3>
                                    Enviando código de verificación a correo electrónico...
                                </h3>
                                <br>
                                <div class="spinner-border">

                                </div>
                                <br>
                              
                                <p>
                                    Esto puede tomar unos segundos.
                                </p>
                            </div>

                            <form (keydown.enter)="$event.preventDefault()" *ngIf="mostrarCodeSection && !verificando" [formGroup]="verification_form" (ngSubmit)="onVerificationSubmit($event)">
                                <h3>
                                    Ingresar código de verificación.
                                </h3>
                                <b>6 dígitos</b>
                                <hr>
                                <p>
                                    Hemos enviado a su dirección de correo el detalle de solicitud. Allí también se brinda el número que debe ingresar a continuación.
                                </p>
                                <br>
                                <app-kaze-form-input (kazeOnChange)="onRegisterFormChange" label="Código de 6 dígitos" formControlName="codigo"  type="number" name="codigo" formid="registerverification" detail="Obtenido por email"/>

                                <input type="hidden" formControlName="token" name="token" id="campotokensolicitud">

                                <div style="text-align: center;">
                                    <button class="kaze-btn kaze-btn-success">
                                        Finalizar solicitud
                                    </button>
                                    <br>
                                    <button class="kaze-btn kaze-btn-warning mt-3" type="button" (click)="this.mostrarCodeSection = false;this.mostrarIngreso = true">
                                        Volver al menú anterior
                                    </button>    
                                </div>
                            </form>
                            
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-modal [showModal]="mostrarModalRecuperarPass"  (modalChange)="modalRecuperarPassChange($event)" title="Recuperar contraseña">

    <p>
        Para recuperar la contraseña de acceso debes ingresar el mail con el que se registró tu cuenta
    </p>

    <form [formGroup]="recuperapass_form" (ngSubmit)="onRecuperarPassSubmit($event)">

        <div class="mt-3 p-3" style="background-color: #f7f7f7;">
            <app-kaze-form-input label="Email de acceso" name="email" formControlName="email" formid="recuperarpass" />

            <br>
    
            <button class="kaze-btn kaze-btn-success w-100">
                Enviar correo de recuperación
            </button>
    
        </div>
  
    </form>

</app-modal>